<h1><%= @product["name"] %></h1>
<img src="<%= @product["image_url"] %>">
<h4>Price: <%= @product["price"] %></h4>
<h3>Description: <%= @product["description"] %></h3>

<a href="/client/products">Home</a>